$white: #fff;
$gray-1: #eee;
$gray-2: #ccc;
$gray-3: #555;
$black: rgb(0, 0, 0);
$primaryOrange: #EAAC44;
$primaryBlue: #0F384C;
$feedback-color: #C4C4C4;
$bodyBackground: #f3f7fb;
$services-navbar-background: #DCE6F2;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

