@font-face {
  font-family: "fonts";
  src: url('../../fonts/fonts.eot');
  src: url('../../fonts/fonts.eot?#iefix') format('eot'),
  url('../../fonts/fonts.woff2') format('woff2'),
  url('../../fonts/fonts.woff') format('woff'),
  url('../../fonts/fonts.ttf') format('truetype'),
  url('../../fonts/fonts.svg#fonts') format('svg');
}

@mixin icon-styles {
  font-family: "fonts";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == facebook {
  $char: "\E001";
}
  @if $filename == instagram {
  $char: "\E002";
}

@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %icon;
  } @else {
    @include icon-styles;
  }
  content: icon-char($filename);
}
}

.icon-facebook {
  @include icon(facebook);
}
.icon-instagram {
  @include icon(instagram);
}