@import 'variables';

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $black;
    text-decoration: none;
    transition: .2s;

    &:hover {
        text-decoration: none;
    }
}

.primaryButton {
    display: inline-block;
    padding: 12px 78px;
    background: $white;
    color: $primaryBlue;
    border-radius: 50px;
    font-weight: $semi-bold;
    font-size: 22px;
    line-height: 27px;

    &:hover {
        background: $primaryOrange;
        color: $white;
    }
}
