//@import 'base/functions';
//@import 'base/mixins';
@import 'custom';
@import 'variables';
@import 'icons.css';
@import 'bootstrap-reboot.min.css';
@import 'bootstrap-grid.min.css';

header {
    position: relative;
    height: 100vh;

    .navbar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.58), rgba(255, 0, 0, 0) 90%);
        height: 100px;

        .navbar-nav {
            .nav-item {
                margin-left: 25px;
            }

            .nav-link {
                color: $white;

                &:hover {
                    color: $primaryOrange !important;
                }
            }

            .active {
                .nav-link {
                    color: $primaryOrange;
                    font-weight: $semi-bold;
                }
            }
        }
    }

    .swiper-container {
        height: 100%;

        h2 {
            font-size: 50px;
            margin: 0 0 20px 0;
        }

        p {
            margin-bottom: 20px;
        }

        a {

        }

        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .cover-title-wrapper {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                > div {
                    height: 100%;
                }

                .cover-title {
                    margin-top: 50px;
                    color: $white;

                    p {

                    }
                }
            }
        }
    }

    footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;

        .socialLinks {
            a {
                display: inline-block;
                margin-right: 27px;
                font-size: 34px;
                color: $white;

                &:hover {
                    color: $primaryOrange;
                }
            }
        }
    }
}
