$white: #fff;
$gray-1: #eee;
$gray-2: #ccc;
$gray-3: #555;
$black: rgb(0, 0, 0);
$primaryOrange: #EAAC44;
$primaryBlue: #0F384C;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

