header {
    .home-cover {
        .with-overlay {
            width: 100%;
            height: 100%;

            video {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

main {
    .gallery {
        .swiper-slide {
            overflow: hidden;
            cursor: pointer;

            &:after {
                content: '';
                @include position(absolute, 0, 0, 0, 0);
                background: rgba(15, 56, 76, 0.6);
                opacity: 0;
                transition: .3s;
            }

            &:hover {
                &:after {
                    opacity: 1;
                }

                img {
                    transform: scale(1.2);
                }
            }

            //.with-overlay {
            //    opacity: 0;

            img {
                transition: .3s;
            }

            //}
        }
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    header {

    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    header {

    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    header {

    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    header {
        .secondary-page-nav {

        }
    }
}
