*, ::after, ::before {
    box-sizing: border-box !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f7fb;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $black;
    text-decoration: none;
    transition: .2s;

    &:hover {
        text-decoration: none;
    }
}

input, textarea {
    &:focus {
        outline: none;
    }
}

.lg-backdrop {
    background: rgba(15, 56, 76, 0.8);
}

.lg-toolbar {
    background-color: $primaryBlue;

    .lg-icon {
        color: $white;
    }
}

#lg-counter {
    color: $white;
}

.lg-actions .lg-next, .lg-actions .lg-prev {
    background-color: $primaryBlue;
    color: $white;
}

.with-overlay {
    position: relative;

    &:after {
        content: '';
        @include position(absolute, 0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        pointer-events: none;
        touch-action: none;
    }
}

.primary-orange {
    color: $primaryOrange;
}

.primary-button {
    display: inline-block;
    border-radius: 50px;
    color: $white;
    background-color: $primaryOrange;
    font-weight: $semi-bold;
    border: 0;

    &:hover {
        background-color: $primaryBlue;
        color: $white;
    }

    &.white-to-orange {
        background-color: $white;
        color: $primaryBlue;

        &:hover {
            background-color: $primaryOrange;
            color: $white;
        }
    }

    &.white-to-blue {
        background-color: $white;
        color: $primaryBlue;

        &:hover {
            background-color: $primaryBlue;
            color: $white;
        }
    }

    &.orange-to-blue {
        background-color: $primaryOrange;
        color: $white;

        &:hover {
            background-color: $primaryBlue;
        }
    }

    &.blue-to-orange {
        background-color: $primaryBlue;
        color: $white;

        &:hover {
            background-color: $primaryOrange;
        }
    }

    &.button-little {
        padding: 5px 30px;
        font-size: 16px;
    }

    &.button-big {
        padding: 8px 38px;
        font-size: 16px;
        line-height: 20px;
    }
}

.feedback-card {
    padding: 0 40px 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 90px;
    background-color: $white;

    img {
        max-width: 120px;
        margin-top: -90px;
        margin-bottom: 10px;
        display: inline-block;
        border-radius: 100%;
    }

    div {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical !important;
        overflow: hidden;

        p {
            //margin: 0;
        }
    }

    p {
        //position: relative;
        height: 73px;
        overflow: hidden;
        color: $feedback-color;
        font-weight: $medium;
    }

    h4 {
        color: $primaryBlue;
        font-weight: $semi-bold;
    }
}

.next-prev-container {
    .feedback-next,
    .feedback-prev {
        position: static;
        margin: 0;
        background-image: url("../../assets/img/arrow.svg");

        &:focus {
            outline: none;
        }
    }

    .feedback-prev {
        transform: rotate(180deg);
    }
}

.tour-container {
    > img {
        width: 100%;
        border-radius: 4px 4px 0 0;
    }

    h3 {
        a {
            font-size: 20px;
            font-weight: $semi-bold;
            color: $primaryBlue;

            &:hover {
                color: $primaryOrange;
            }
        }
    }

    .tour-details {
        position: relative;
        padding: 10px 50px 10px 10px;
        margin-bottom: 10px;
        font-weight: $semi-bold;
        font-size: 16px;
        background-color: $primaryBlue;
        color: $white;
        border-radius: 0 0 4px 4px;

        img {
            position: absolute;
            top: 0;
            right: -1px;
            bottom: 0;
            height: 100%;
            width: auto !important;
        }
    }
}


.social-links {
    display: inline-block;
    position: relative;
    font-size: 0;

    a {
        display: inline-block;
        margin-right: 18px;
        font-size: 0;
        color: $white;

        i {
            font-size: 34px;
        }

        &:hover {
            color: $primaryOrange;
        }

        &:last-of-type {
            margin: 0;
        }
    }
}

.contact-details {
    height: 250px;
    padding: 35px;
    font-weight: $medium;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    color: $primaryBlue;
    background-color: $white;
    background-image: url("../../assets/img/transparent-logo-part.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 210px;

    a {
        color: $primaryBlue;
        line-height: 32px;
        &:hover {
            color: $primaryOrange;
        }
    }
    > div {
        //margin-bottom: 20px;

        &:last-of-type {
            margin: 0;
        }

        img {
            margin-right: 20px;
            display: inline-block;
            width: 26px;
            //vertical-align: middle;
        }
    }
}

.custom-field {
    position: relative;

    span {
        position: absolute;
        left: 30px;
        background-color: $white;
        transform: translateY(-50%);
        padding: 0 10px;
    }

    input, textarea {
        max-width: 340px;
        padding: 10px 20px;
        border: 1px solid $gray-2;
        resize: none;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .social-links {
        a {
            i {
                //font-size: 24px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .social-links {
        a {
            i {
                font-size: 34px;
            }
        }
    }
    .next-prev-container {
        margin-top: -25px;

        .feedback-next,
        .feedback-prev {
            height: 20px;
        }
    }

    .primary-button {
        //display: inline-block;
        //border-radius: 50px;
        //color: $white;
        //background-color: $primaryOrange;
        //font-weight: $semi-bold;

        &:hover {
            //background-color: $primaryBlue;
            //color: $white;
        }

        &.white-to-orange {
            //background-color: $white;
            //color: $primaryBlue;

            &:hover {
                //background-color: $primaryOrange;
                //color: $white;
            }
        }

        &.white-to-blue {
            //background-color: $white;
            //color: $primaryBlue;

            &:hover {
                //background-color: $primaryBlue;
                //color: $white;
            }
        }

        &.orange-to-blue {
            //background-color: $primaryOrange;
            //color: $white;

            &:hover {
                //background-color: $primaryBlue;
            }
        }

        &.blue-to-orange {
            //background-color: $primaryBlue;
            //color: $white;

            &:hover {
                //background-color: $primaryOrange;
            }
        }

        &.button-little {
            padding: 10px 45px;
            font-size: 20px;
        }

        &.button-big {
            padding: 12px 78px;
            font-size: 22px;
            line-height: 27px;
        }
    }

    .tour-container {
        > img {
            //width: 100%;
            //border-radius: 4px 4px 0 0;
        }

        h3 {
            a {
                font-size: 26px;
                //font-weight: $semi-bold;
                //color: $primaryBlue;

                &:hover {
                    //color: $primaryOrange;
                }
            }
        }

        .tour-details {
            //position: relative;
            padding: 17px 70px 17px 17px;
            //margin-bottom: 10px;
            //font-weight: $semi-bold;
            font-size: 20px;
            //background-color: $primaryBlue;
            //color: $white;
            //border-radius: 0 0 4px 4px;

            img {
                //position: absolute;
                //top: 0;
                //right: -1px;
                //bottom: 0;
                //height: 100%;
            }
        }
    }

    .contact {
        .contact-details {
            min-width: 50%;
            padding: 45px;
            //font-weight: $medium;
            //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
            //color: $primaryBlue;
            //background-color: $white;

            img {
                //margin-right: 20px;
                //display: inline-block;
                //width: 26px;
                //vertical-align: middle;
            }
        }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    body {
        min-height: 100vh;
        position: relative;
        padding-bottom: 270px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
