*, ::after, ::before {
  box-sizing: border-box !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $black;
  text-decoration: none;
  transition: .2s;

  &:hover {
    text-decoration: none;
  }
}

.primaryButton {
  display: inline-block;
  padding: 12px 78px;
  background: $white;
  color: $primaryBlue;
  border-radius: 50px;
  font-weight: $semi-bold;
  font-size: 22px;
  line-height: 27px;

  &:hover {
    background: $primaryOrange;
    color: $white;
  }
}

.feedback-card {
  padding: 0 40px 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 90px;

  img {
    max-width: 120px;
    margin-top: -90px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 100%;
  }

  p {
    position: relative;
    height: 73px;
    overflow: hidden;
    color: $feedback-color;
    font-weight: $medium;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 5px;
      width: 100px;
      height: 18px;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), $white 50%);
    }
  }

  h4 {
    color: $primaryBlue;
    font-weight: $semi-bold;
  }
}


.tour-container {
  img {
    width: 100%;
    border-radius: 4px 4px 0 0;
  }

  a {
    font-size: 26px;
    font-weight: $semi-bold;
    color: $primaryBlue;

    &:hover {
      color: $primaryOrange;
    }
  }

  .tour-details {
    padding: 17px;
    margin-bottom: 10px;
    font-weight: $semi-bold;
    font-size: 20px;
    background-color: $primaryBlue;
    color: $white;
    border-radius: 0 0 4px 4px;
  }
}
//google map
.mapouter {
  position: relative;
  text-align: right;
  height: 340px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 340px;
  width: 600px;
}


