footer {
    margin-top: 76px;
    padding: 20px 0;
    color: $white;
    background-color: $primaryBlue;
    font-size: 14px;

    nav {
        margin-bottom: 10px;

        ul {
            li {
                margin-right: 20px;
                //font-size: 12px;

                a {
                    color: $white;

                    &:hover {
                        color: $primaryOrange;
                    }
                }
            }
        }
    }

    .social-links {
        a {
            //margin-right: 24px;
        }
    }
}

@media (min-width: 992px) {
    footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        //margin-top: 76px;
        padding: 34px 0;
        //color: $white;
        //background-color: $primaryBlue;
        font-size: 16px;

        nav {
            margin-bottom: 30px;

            ul {
                li {
                    margin-right: 20px;
                    font-size: 16px;

                    a {
                        //color: $white;

                        &:hover {
                            //color: $primaryOrange;
                        }
                    }
                }
            }
        }
        .social-links {
            a {
                //margin-right: 25px;
                i {
                    //font-size: 34px;
                }
            }
        }
    }
}
