footer {
    margin-top: 76px;
    padding: 20px 0;
    color: $white;
    background-color: $primaryBlue;
    font-size: 14px;

    nav {
        margin-bottom: 10px;

        ul {
            li {
                margin-right: 20px;
                //font-size: 12px;

                a {
                    color: $white;

                    &:hover {
                        color: $primaryOrange;
                    }
                }
            }
        }
    }

    //.agent {
    //    img {
    //        height: 82px;
    //    }
    //}
}

@media (min-width: 992px) {
    footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 34px 0;
        font-size: 16px;

        nav {
            margin-bottom: 30px;

            ul {
                li {
                    margin-right: 20px;
                    font-size: 16px;

                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
        }
        .agent {
            img {
                height: 52px
            }
        }
    }
}
@media (min-width: 1200px) {
    footer {
        .agent {
            img {
               height: 82px
            }
        }
    }
}
