header {
    position: relative;
    height: 100vh;

    .navbar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.58), rgba(255, 0, 0, 0) 90%);
        height: 160px;

        .menu-burger {
            position: absolute;
            left: 15px;

            img {
                width: 60px;
            }
        }

        .navbar-brand {
            img {
                height: 80px;
            }
        }


    }

    .navbar-nav {
        .nav-item {
            margin-left: 25px;
        }

        .nav-link {
            color: $white;

            &:hover {
                color: $primaryOrange !important;
            }
        }

        .active {
            .nav-link {
                color: $primaryOrange;
                font-weight: $semi-bold;
            }
        }
    }

    .navbar-container {
        position: absolute;
        top: 0;
        right: 100px;
        bottom: 0;
        left: 0;
        z-index: 2;
        padding: 50px 15px;
        background-color: $white;

        .navbar-brand {
            img {
                height: 80px;
            }
        }

        .close-menu {
            position: absolute;
            right: 15px;
            top: 50px;

            img {
                width: 30px;
            }
        }

        .navbar-nav {
            margin-top: 60px;

            .nav-item {
                margin: 0 0 20px 0;

                .nav-link {
                    color: $primaryBlue;
                    font-weight: $semi-bold;
                    font-size: 20px;
                }
            }
        }

        .social-links {
            position: absolute;
            bottom: 25px;

            a{
                color: $primaryBlue;
            }
        }
    }

    #home-cover {
        height: 100%;

        h2 {
            font-size: 42px;
            line-height: 50px;
            margin: 0 0 20px 0;
        }

        p {
            font-size: 16px;
            margin-bottom: 40px;
        }

        a {

        }

        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .cover-title-wrapper {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                text-align: center;

                > div {
                    height: 100%;
                }

                .cover-title {
                    color: $white;
                }
            }
        }
    }

    .footer {
        position: absolute;
        right: 0;
        bottom: 25px;
        left: 0;
        z-index: 1;
        font-size: 0;

        .swiper-pagination {
            position: static;

            .swiper-pagination-bullet {
                margin: 0 12px;
            }
        }

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            background: $white;
            opacity: 0.6;

            &.swiper-pagination-bullet-active {
                width: 20px;
                height: 20px;
                opacity: 1;
            }
        }
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    header {
        //position: relative;
        //height: 100vh;

        .navbar {

            .navbar-brand {
                //img {
                //    height: 80px;
                //}
            }

            .navbar-nav {
                .nav-item {
                    //margin-left: 25px;
                }

                .nav-link {
                    //color: $white;

                    &:hover {
                        //color: $primaryOrange !important;
                    }
                }

                .active {
                    .nav-link {
                        //color: $primaryOrange;
                        //font-weight: $semi-bold;
                    }
                }
            }
        }

        #home-cover {
            //height: 100%;

            h2 {
                //font-size: 74px;
                //margin: 0 0 20px 0;
            }

            p {
                //font-size: 22px;
                //margin-bottom: 40px;
            }

            a {

            }

            .swiper-slide {
                img {
                    //width: 100%;
                    //height: 100%;
                    //object-fit: cover;
                }

                .cover-title-wrapper {
                    //position: absolute;
                    //top: 0;
                    //right: 0;
                    //bottom: 0;
                    //left: 0;
                    //text-align: center;

                    > div {
                        //height: 100%;
                    }

                    .cover-title {
                        //color: $white;
                    }
                }
            }

            .swiper-pagination {
                //position: static;
                //bottom: 80px;
                //left: 50%;
                //z-index: 2;
                //transform: translateX(-50%);

                .swiper-pagination-bullet {
                    //margin: 0 22px;
                }
            }

            .swiper-pagination-bullet {
                //width: 20px;
                //height: 20px;
                //background: $white;
                //opacity: 0.6;

                &.swiper-pagination-bullet-active {
                    //width: 30px;
                    //height: 30px;
                    //opacity: 1;
                }
            }
        }

        .footer {
            //position: absolute;
            //right: 0;
            //bottom: 77px;
            //left: 0;
            //z-index: 1;
            //font-size: 0;

            .social-links {
                //margin-left: 75px;

                &:after, &:before {
                    //content: '';
                    //position: absolute;
                    //top: 50%;
                    //width: 50px;
                    //height: 2px;
                    //background-color: $white;
                }

                &:after {
                    //left: 180px;
                }

                &:before {
                    //right: 180px;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
