@import "bootstrap";
@import "base/variables";
@import "base/mixins";
@import "custom";
@import "header";
@import "footer";
@import "services";
@import "about";
@import "contacts";

header {
    .home-cover {
        height: 100%;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 12px;
        }

        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .cover-title-wrapper {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                text-align: center;

                > div {
                    height: 100%;
                }

                .cover-title {
                    color: $white;
                }
            }
        }
    }

    .footer {
        position: absolute;
        right: 0;
        bottom: 25px;
        left: 0;
        z-index: 1;
        font-size: 0;

        .swiper-pagination {
            position: static;

            .swiper-pagination-bullet {
                margin: 0 12px;
            }
        }

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            background: $white;
            opacity: 0.6;

            &.swiper-pagination-bullet-active {
                width: 20px;
                height: 20px;
                opacity: 1;
            }
        }
    }
}

main {
    h2 {
        font-size: 30px;
        color: $primaryBlue;
        font-weight: $bold;
        text-align: left;
    }

    section {
        margin-top: 35px;

        h2 {
            margin: 0 0 20px;
        }
    }

    &.inner {
        margin-top: 90px;

        section:first-of-type {
            margin-top: 0;
        }
    }

    .services {
        text-align: center;

        img {
            display: inline-block;
            height: 90px;
        }

        h4 {
            //margin-bottom: 17px;
            font-size: 18px;
            color: $primaryBlue;
        }

        .services-item {
            margin-bottom: 30px;

            &:last-of-type {
                margin: 0;
            }
        }
    }

    .feedback {
        position: relative;

        .feedback-card-swiper-container {
            //margin: 0 40px;

            .swiper-slide {
                padding: 3px;

                .feedback-card {
                    background-image: url("../../assets/img/transparent-logo-part.svg");
                    background-position: right center;
                    background-repeat: no-repeat;
                    background-size: 163px;
                }
            }
        }
    }

    .about {
        .about-img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        article {
            position: relative;
            padding: 20px;
            font-weight: $medium;
            color: $primaryBlue;
            background-color: #e7ebed;

            &:before {
                display: none;
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: -100px;
                z-index: -1;
                width: 100px;
                background-color: #e7ebed;
            }
        }
    }

    .contact {
        #map_canvas {
            width: 100%;
            height: 250px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    main {
        &.inner {
            margin-top: 134px;

            section:first-of-type {
                margin-top: 35px;
            }
        }
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    header {
        .home-cover {
            //height: 100%;

            h2 {
                font-size: 42px;
                //margin: 0 0 20px 0;
            }

            p {
                font-size: 18px;
                //margin-bottom: 40px;
            }

            a {
            }

            .swiper-slide {
                img {
                    //width: 100%;
                    //height: 100%;
                    //object-fit: cover;
                }

                .cover-title-wrapper {
                    //position: absolute;
                    //top: 0;
                    //right: 0;
                    //bottom: 0;
                    //left: 0;
                    //text-align: center;

                    > div {
                        //height: 100%;
                    }

                    .cover-title {
                        //color: $white;
                    }
                }
            }

            .swiper-pagination {
                //position: static;
                //bottom: 80px;
                //left: 50%;
                //z-index: 2;
                //transform: translateX(-50%);

                .swiper-pagination-bullet {
                    //margin: 0 22px;
                }
            }

            .swiper-pagination-bullet {
                //width: 20px;
                //height: 20px;
                //background: $white;
                //opacity: 0.6;

                &.swiper-pagination-bullet-active {
                    //width: 30px;
                    //height: 30px;
                    //opacity: 1;
                }
            }
        }

        .footer {
            //position: absolute;
            //right: 0;
            //bottom: 77px;
            //left: 0;
            //z-index: 1;
            //font-size: 0;

            .social-links {
                //margin-left: 75px;

                &:after,
                &:before {
                    //content: '';
                    //position: absolute;
                    //top: 50%;
                    //width: 50px;
                    //height: 2px;
                    //background-color: $white;
                }

                &:after {
                    //left: 180px;
                }

                &:before {
                    //right: 180px;
                }
            }
        }
    }

    main {
        h2 {
            font-size: 50px;
        }

        section {
            margin-top: 76px;

            h2 {
                margin: 0 0 40px;
            }
        }


        .services {
            img {
                height: 110px;
            }

            h4 {
                font-size: 20px;
            }

            .services-item {
            }

            .primary-button {
                &:hover {
                }
            }
        }

        .feedback {
            .feedback-card-swiper-container {
                margin: 0 40px;

                .swiper-slide {
                }
            }

            .feedback-prev {
                //transform: rotate(180deg);
            }
        }

        .about {
            margin-top: 76px;
            padding-bottom: 30px;

            .about-img {
                img {
                    margin-top: 30px;
                    //width: 100%;
                    //height: 100%;
                    //object-fit: cover;
                }
            }

            article {
                //position: relative;
                padding: 30px 45px;
                //color: $primaryBlue;
                //background-color: #e7ebed;
                h2 {
                    margin-bottom: 20px;
                }

                &:before {
                    display: block;
                }

                .primary-button {
                    //padding: 10px 45px;
                    //font-size: 20px;
                    //color: $white;
                    //background-color: $primaryOrange;

                    &:hover {
                        //background-color: $primaryBlue;
                    }
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    main {
        &.inner {
            margin-top: 110px;

            section:first-of-type {
                margin-top: 76px;
            }
        }
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
