#tour-details-page {
    .tour-info {
        color: $primaryBlue;
        .tour-cites {
            font-weight: $semi-bold;
        }
        .tour-price {
            font-weight: $bold;
        }
        .reservation-phone, .locations {
            font-weight: $semi-bold;
        }
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #tour-details-page {
        .tour-info {
            padding: 20px 30px;
            h4 {
                font-size: 22px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #tour-details-page {
        margin-top: 186px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
